header {
    width: 100%;
}

#blu_line {
    height: 30px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    background-color: #0281F8;
}
#blu_line div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    margin: 0 auto;
    height: 100%;
    padding: 0 40px;
}
#blu_line p {
    margin:0 20px;
}


#container {
    width: 100%;
    height: 350px;
    background-image: url(/img/jumbotron.jpg);
    background-size:cover;
}

nav {
    width: 70%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 0;
}

img {
    width: 70px;
    margin-right: 30px;
}

ul {
    list-style: none;
}
header li{
    display: inline-block;
    margin: 0 10px;
    font-size: 15px;
    font-weight: bolder;
}
