header {
    width: 100%;
    height: 200px;
}

#container {
    width: 100%;
    height: 350px;
    background-image: url(/img/jumbotron.jpg);
    background-size:cover;
}

nav {
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 0;
}

img {
    width: 70px;
    margin-right: 30px;
}

ul {
    list-style: none;
}
li{
    display: inline-block;
    margin: 0 10px;
}
